---
layout: default
title: #SayNoToFish
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1>#SayNoToFish</h1>
				<p >We need to wake up to the threats facing our Global Ocean and act to protect it. Until then #SayNoToFish #SayNoToSeafood</p>
				<div class="button">
					<a href="#manifesto">Read More</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="/images/sntf_cluster.png" alt="School">
		</div>
	</div>
</header>

<hr width="200">
{% include manifesto.html %}

<hr width="200">
{% include takeaction.html %}

<hr width="200">
{% include getinformed.html %}

<hr width="200">
{% include news.html %}

<hr width="200">
{% include faqs.html %}
