
<div class="container" id="faqs">
    <h2  style="text-align: center;">Frequently Asked Questions</h2>
    <h3  style="text-align: left;"><strong>“Why am I still able to buy so much fish and seafood in my local supermarket? If they are that hard to find, surely they would cost a lot more? Fish seems pretty affordable and pretty plentiful to me.”</strong></h3>
    <p  style="text-align: left;">
        You’re right - part of the issue with overfishing is the illusion of plenty that is maintained in our stores, where we’re divorced from the reality of where our food comes from. In fact, the UK fleet, and fishing fleets across the world, are travelling further and working harder, with more sophisticated equipment, to find fish. But they are catching less per mile travelled than they did in the past.
        <br><br>
        Since the 1950s the number of vessels out fishing has doubled to 3.7million. But despite better technology, more efficient landing gear and bigger holds to fill, today’s ships catch less and take longer than those out at sea some 70 years ago <a href="https://www.sciencemag.org/news/2019/05/fishing-fleets-have-doubled-1950-theyre-having-harder-time-catching-fish">(Science Mag)</a>. The reason is simple: there are fewer fish and they are harder to find.
        <br><br>
        So the only reason shelves are stocked is because we are making more effort to find fish in remote places using new technology and bigger boats, and we are farming more fish than ever before, artificially inflating our stockpile.
    </p>
    <h3  style="text-align: left;"><strong>What about <em>"sustainably sourced"</em> fish and seafood?</strong></h3>
    <p  style="text-align: left;">
        Whilst many nations set quotas for catching limited quantities of key species in their coastal waters, the reality is that some 20% of all fish caught around the world is fished illegally, completely unregulated and goes unreported <a href="https://www.pewtrusts.org/en/research-and-analysis/articles/2013/02/25/illegal-unreported-and-unregulated-fishing-frequently-asked-questions">(Pew Trust)</a>. The total value of this catch for the global economy is estimated to be between $10 and $20 billion USD <a href="https://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0004570&type=printable">(Agnew et al. 2009)</a>.
        <br><br>
        As well as the vast scale of unregulated and unreported catch, an estimated 10% of biomass fished from the ocean is thrown back in, without ever making it into the food chain <a href="https://www.reuters.com/article/us-environment-fish-idUSKBN19H1A8">(Reuters)</a>. This system, including all that illegal, unreported and wasted catch, is fuelling a worldwide seafood market worth over $125,000 million USD <a href="https://www.alliedmarketresearch.com/seafood-market">(Allied Market Research)</a>. Demand is seemingly insatiable. Of course, if you do want to continue to eat fish, "sustainably sourced" fish and seafood are certainly the better option, but not all "sustainable" labels convey the same standards, and demand for sustainably sourced fish and seafood still fuels wider demand for an overexploited commodity.
        <br><br>
        In terms of achieving meaningful change, we must first look at how our Global Ocean is exploited.
        At present vast swathes of the open ocean - the High Seas - are owned by no one. Perhaps it should stay that way but, if no one owns it, no one should be allowed to pillage from it for financial gain.
        <br><br>
        Rather than the current assumption that it belongs to no-one, and therefore everyone has a right to take it, we must reverse our framing: it belongs to no-one, except those who live in it. The fish themselves, not mention millions all the other marine species (both known and unknown to science). There is a strong case to be made for a complete ban on fishing in the High Seas. But that would require policing, and as yet international organisations like the UN have yet to find an effective way to keep a close eye on the High Seas.
    </p>
    <h3  style="text-align: left;"><strong>What about farmed fish?</strong></h3>
    <p  style="text-align: left;">
        Unfortunately, choosing farmed fish is not the simple solution you might expect. Perhaps it can be in the future, but not until ensure all fish farms around the world are persuaded to meet stricter standards, in terms of both its environmental impact and its animal welfare record.
        <br><br>
        A key issue is what we feed our farmed fish on. Fish fed on vegetable based proteins and other fillers produces fish that have less nutritional value than we would expect of their wild-caught cousins. The best quality farmed fish - and this is the real kicker - are actually often fed on processed wild caught fish, like anchovies and sardines, just adding to the wider depletion of wildlife inhabiting the Global Ocean <a href="https://www.mcsuk.org/downloads/fisheries/Farmed_Fish.pdf">(MCSUK)</a>.
        <br><br>
        On top of this, lice infestation is a real problem in a lot of fish farms. In worst case situations, for example in intensively farmed salmon, lice are moving beyond the man-made farming pens and entering the wild population, damaging their ability to survive and thrive <a href="https://www.mcsuk.org/downloads/fisheries/Farmed_Fish.pdf">(MCSUK)</a>. So our farmed salmon is costing us wild salmon.
        <br><br>
        Finally, the eco-systems beneath too many farmed fish pens become dead zones due to the build of waste products from the millions of animals kept in one place.
        <br><br>
        It seems like farmed fish offer no silver bullet. In fact, fish farming can create new problems, whilst exacerbating the problems created by industrial overfishing more generally.
    </p>
    <h3  style="text-align: left;"><strong>Should we give up hope?</strong></h3>
    <p  style="text-align: left;">
        The great irony here is that our Global Ocean has the potential - in fact, the proven capacity - to be vastly more productive than it is now. But not if we continue this spiral of depletion.
        <br><br>
        This is not just about industrial scale fishing. It’s about dumping pollutants into our ocean. It’s about shipping vessel traffic disrupting migration routes. It’s about the warming and acidification of our Global Ocean as a result of climate change. It’s about plastic pollution harming marine life. All of these factors are making our ocean less hospitable and less able to support an abundance of life.
        <br><br>
        That is why - alongside tackling all of the problems listed above - we need to preserve the life that already exists within the ocean right now, to give it the best chance to reboot and replenish.
    </p>
    <h3  style="text-align: left;"><strong>What about the people who depend on fishing to make a living? </strong></h3>
    <p  style="text-align: left;">
        The aim of #SayNoToFish is to contribute to the restoration of the Global Ocean by helping to challenge industrial overfishing around the world, not least by reducing demand for fish and seafood. It is not intended to destroy the livelihoods of the majority who fish responsibly and care for the oceans on which their livelihoods depend.
        <br><br>
        If #SayNoToFish can help to end the industrial scale plundering of the oceans, then those who fish sustainably will flourish. #SayNoToFish is about getting people to recognise the true cost of the fish and seafood that they choose to eat. Ultimately, ending destructive fishing practices will benefit all those who fish responsibly. The rest merely profit from tomorrow’s catch today.
    </p>
    <h3  style="text-align: left;"><strong>What about subsistence fishers, or places where fish is the most viable source of food?</strong></h3>
    <p  style="text-align: left;">
        #SayNoToFish aims to get those who choose to eat fish - but have the resources to make a different choice - to change this habit or, at the very least, make a choice to buy locally caught fish and seafood from small-scale fishers, benefiting their local community and economy.
        <br><br>
        The aim of #SayNoToFish is to help challenge industrial overfishing by starting a conversation about the marine animals people choose to eat, and to promote ocean conservation around the world. Ending overfishing is an essential step if we are to restore the health and vitality of our oceans, as is the massive expansion of marine protected areas.


    </p>
    <br>
    <div class="button" style="text-align: center">
        <a href="{{ site.url }}/#">Back to Top</a>
    </div>
</div>
