
<div class="container" id="get_informed">
    <h2 style="text-align: center;">Get Informed</h2>
    <h3 style="text-align: left;"><strong>Must Reads</strong></h3>
    <p style="text-align: left;">
    <p>A selection of highly readable books offering in-depth insight into the multiple threats facing the Global Ocean today:</p>
    <ul>
        <li>
            Charles Clover - <a href="https://www.penguin.co.uk/books/102/1021465/the-end-of-the-line/9780091897819.html">The End of the Line</a> (Ebury Press - 2005)
        </li>
        <li>
            Sylvia Earle - <a href="https://www.penguinrandomhouse.com/books/44486/the-world-is-blue-by-sylvia-earle-with-a-foreword-by-bill-mckibben/">The World is Blue: How our fate and the oceans are one</a> (National Geographic Society 2010)
        </li>
        <li>
            Callum Roberts - <a href="https://www.waterstones.com/book/the-unnatural-history-of-the-sea/callum-roberts/9781597265775">The Unnatural History of the Sea</a> (Island Press - 2009)
        </li>
        <li>
            Callum Roberts - <a href="https://www.penguin.co.uk/books/179/179580/ocean-of-life/9780241950708.html">The Ocean of Life</a> (Penguin Books - 2013)
        </li>
        <li>
            Alex Rogers - <a href="http://waterstones.com/book/the-deep/alex-rogers/9781472253934">The Deep: The Hidden Wonders of Our Oceans and How We Can Protect Them</a> (Headline Publishing Group - 2019)
        </li>
    </ul>
    <h3 style="text-align: left;"><strong>Topical Short Reads</strong></h3>
    <p  style="text-align: left;"></p>
    <ul>
        <li>
            National Geographic - <a href="https://www.nationalgeographic.co.uk/environment-and-conservation/2019/10/overfishing-emptying-our-seas-despite-countries-pledges-stop">Overfishing is emptying our seas - despite countries pledging to stop it</a> (9 October 2019)
        </li>
        <li>
            George Monibot - <a href="https://www.theguardian.com/commentisfree/2019/may/09/seas-stop-eating-fish-fishing-industry-government">Stop eating fish. It's the only way to save the life in our seas</a> (The Guardian, 9 May 2019)
        </li>
        <li>
            The Economist - <a href="https://www.economist.com/briefing/2017/05/26/getting-serious-about-overfishing">Getting serious about overfishing</a> (The Economist, 27 May 2017)
        </li>
    </ul>
</div>
