<div class="container" id="manifesto">
    <h2  style="text-align: center;">Why #SayNoToFish?</h2>
    <h3  style="text-align: left;"><strong>Most people in the UK would probably say they don’t eat wildlife. But they almost certainly do if they eat fish.</strong></h3>
    <p  style="text-align: left;">
        The vast majority of fish sold across the world is caught directly from our global ocean. These are wild animals, owned by no one, captured en masse by a global fleet equipped to remove billions, if not trillions, of fish from our oceans every single year <a href="https://www.forbes.com/sites/michaelpellmanrowland/2017/07/24/seafood-sustainability-facts/#50c08734bbfe">(Forbes)</a>.
        <br><br>
        Historically people have assumed that our global ocean is a limitless pot from which we can keep taking without consequence. Stock collapse around the world over the last seven decades proves this is completely false.
        <br><br>
        You simply cannot continue to remove billions of tonnes of the biomass year after year, decade after decade, and expect our global ocean to replenish itself.
        <br><br>
        We need to act now to protect the marine environment. Ending overfishing is critical to this.
        <br><br>
        Until we do, those who have the luxury of choice need to think carefully about the choices they are making.
    </p>
    <h3  style="text-align: left;"><strong>That is why we are calling on you to <span style="text-decoration: underline;">#SayNoToFish</span></strong></h3>
    <p  style="text-align: left;">
        ... At least for now. And for the foreseeable future.
        <br><br>
        This is about raising environmental standards, helping to build a more sustainable system, one in which nature is more abundant as vital habitats are protected.
        <br><br>
        The best thing about this change is that it is totally achievable. Once you start, it’s actually quite easy to give up fish in the UK today.
        <br><br>
        You can <strong>#SayNoToFish</strong>. You can say no to fish and chips. You can say no to fish fingers. You can say no to sushi. You can say no to a tuna sandwich. You can say no to mussels, prawns and scallops.  <strong>Just say no. #SayNoToFish.</strong>
        <br><br>
        Think about the fact that salmon travel the ocean for thousands of miles, but - years later - still find their way back to the exact same stream into which they hatched, sniffing out their ‘home water’ molecule by molecule. Think about the fact that an Atlantic Bluefin Tuna can weigh up to 2000lbs <a href="https://www.worldwildlife.org/species/tuna">(WWF)</a>, grow up two metres in length and travel at over 40 miles per hour and that they are critically endangered. Think about the fact that Atlantic Cod can live to be over 20 years old, and that they are more productive the bigger they get.
        <br><br>
        These are magnificent, majestic and mysterious creatures. Some of the fish that people regularly consume, we know very little about. Consumers may not even know what fish they are actually eating, because so much is mislabelled. For many species, we don’t know their life-cycles. We don’t know where they breed. We don’t know how old they can live to be. There is still so much to learn.
        <br><br>
        If you are not willing to tolerate the destruction of our global ocean any longer, then join this movement: <strong>#SayNoToFish.</strong>
    </p>
</div>
