<div class="container" id="take_action">
    <h2  style="text-align: center;">Take Action Now</h2>

    <div class="thirds">
        <li>
            <a href="#pledge">
                <div class="image">{% include icons/site.html icon="heart" %}</div>
                <h3 >Make Your Pledge</h3>
                <p >Tweet your support for #SayNoToFish</p>
            </a>
        </li>

        <li>
            <a href="#support">
                <div class="image">{% include icons/site.html icon="support" %}</div>
                <h3 >Support Ocean Conservation</h3>
                <p >Support the charities and organisations acting to challenge overfishing and protect the Global Ocean</p>
            </a>
        </li>

        <li>
            <a href="#get_informed">
                <div class="image">{% include icons/site.html icon="informed" %}</div>
                <h3 >Get Informed</h3>
                <p >Read up on overfishing and the other threats facing the Global Ocean</p>
            </a>
        </li>
    </div>

</div>

<hr width=”200″>
{% include tweet_pledge.html %}

<hr width=”200″>
<div class="container" id="support">
    <h2  style="text-align: center;">Support Ocean Conservation</h2>
    <p  style="text-align: left;">
        Get involved in ocean conservation and support organisations working to challenge overfishing and protecting our Global Ocean. There’s plenty of material online, so you can try and find events and activities local to you, or think about supporting a a global campaigning organisation. For more information visit:
    </p>
    <ul>
        <li><a href="https://www.mcsuk.org/?gclid=CjwKCAjw5Ij2BRBdEiwA0Frc9e8O0Wwhk6PYjbw7TqO21OjmoRfCKFQKElStP6dEQbK8Z_tmBVnm_hoCDGEQAvD_BwE">Marine Conservation Society UK</a></li>
        <li><a href="https://www.seashepherd.org.uk/?gclid=CjwKCAjw5Ij2BRBdEiwA0Frc9WnlhzPZZK9XPZQHsYDkUN7-A092L09k7n6BJERujiuaNDuHAhQf0BoC3L4QAvD_BwE">SeaShepherd</a></li>
        <li><a href="https://www.pewtrusts.org/en/topics/oceans">Pew Trusts</a></li>
    </ul>

</div>