
<div class="container" id="pledge">
    <div class="columns">
        <div>
            <h2>Make Your Pledge</h2>
            <p>Click here to share your commitment to #SayNoToFish. </p>
            <a href="https://twitter.com/intent/tweet?button_hashtag&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-size="large" data-hashtags="SayNoToFish" data-url="pic.twitter.com/YljSkEppLT" data-lang="en" data-show-count="true">Tweet Your Pledge</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div>
            <blockquote class="twitter-tweet"><p lang="und" dir="ltr"><a href="https://t.co/YljSkEppLT">pic.twitter.com/YljSkEppLT</a></p>&mdash; @SayNoToFish (@saynotofish) <a href="https://twitter.com/saynotofish/status/1263870879563419649?ref_src=twsrc%5Etfw">May 22, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>